.hero {
  /* padding: 32px 0; */
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column-reverse;
  gap: 0 12px;
}

.hero-container {
  width: 100%;
  padding: 1rem 0;
}

.img-container {
  width: 50vw;
}

.img-hero {
  width: 100%;
}

@media (width >= 640px) {
}

@media (width >= 768px) {
  .hero {
    flex-direction: row;
  }

  .hero-container {
    width: 50%;
  }
}
